body {
    padding: 0rem;
    margin: 0rem;
}

#buttons {
    margin: 1rem;
}

button,
input[type="submit"] {
    padding: 0.5rem;
    margin: 1.3rem 0.5rem 1.3rem 0rem;
    border-radius: 5px;
    border-color: gray;
}

input[type="submit"]{
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}



/* for the forms */
form {
    display: flex;
    flex-direction: column;
    border: solid lightgray 2px;
    border-radius: 10px;
    padding: 3rem;
    margin: 1rem;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: white;
}


/* for newItem form */
#inputFields {
    display: flex;
}

#col1,
#col2 {
    flex-direction: column;
}

label,
input {
    margin: 0.8rem 0.8rem 0.8rem 0rem;
}

#box1 {
    margin-top: 0rem;
}

#box5,
#box6 {
    margin-left: 3rem;
    margin-top: 0.8rem;
}

/* for radio button options */
input[type="radio"] {
    margin-left: 0.8rem;
}



/* for displaying projects and items */
#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projectDiv,
.itemDiv {
    padding: 0.5rem;
    border-radius: 10px;
    grid-column: 1;
}

.projectDiv {
    border: solid black 1px;
    margin: 0.8rem;
    font-weight: bold;
    /*width: 50vw;*/
}

#container {
    display: flex;
}

.itemDiv {
    border: solid gray 1px;
    background-color: lightcyan;
    margin: 1rem;
    font-weight: normal;
}